<div class="row justify-content-md-center m-5 animated fadeIn fast">
  <form class="col-6 col-md-4" (ngSubmit)="updateCli(updateClient)" #updateClient="ngForm">
    <mat-card>
      <mat-card-content>
        <mat-card-title>Update Clients</mat-card-title>
        <mat-form-field>
          <input matInput placeholder="Nickname" [(ngModel)]="user.nickname">
        </mat-form-field>
        <mat-form-field>
          <input type="email" matInput placeholder="Email" [(ngModel)]="user.email">
        </mat-form-field>
        <mat-form-field>
          <input type="password" matInput placeholder="Password" [(ngModel)]="user.password">
        </mat-form-field>
        <mat-form-field >
          <input type="password" matInput placeholder="Repeat password">
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
          <button type="submit" mat-raised-button color="primary">Update!</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
